<div class="row expanded" style="background-color:#44546a; height:20rem; color: white;">
	<div class="large-offset-1 large-10 small-12 columns">
		<h3 style="margin-top:4rem;margin-bottom:1rem; font-weight:bold;"><span id="appName"></span></h3>
		<p id="appDescription"></p>
	</div>
</div>
<div class="row"  style="margin-top:2.5rem;">
	<div class="small-12 columns large-10 large-centered">
		<h5>How will you use competencies?</h5>
	</div>
</div>
<div class="row"  style="margin-top:1.5rem;">
	<div class="large-offset-1 large-3 small-4 columns" style="text-align:center">
		<button id="frameworkManagementBtn" class="button" style="width:11rem; height: 11rem;">
			<div style="line-height:1.2rem; font-weight:bold; margin-bottom:2rem;">Framework Management</div>
			<i class="fa fa-sitemap fa-4x"></i>
		</button>
	</div>
	<div class="large-3 small-4 columns" style="text-align:center">
		<button id="competencyAlignmentBtn" class="button" style="width:11rem; height: 11rem;">
			<div style="line-height:1.2rem; font-weight:bold; margin-bottom:2.5rem;">Competency Alignment</div>
			<div style="margin-bottom:0.5rem">
				<i class="fa fa-cubes fa-2x"></i>
				<i class="fa fa-arrows-h fa-2x"></i>
				<i class="fa fa-sitemap fa-2x"></i>
			</div>
		</button>
	</div>
	<div class="end large-3 small-4 columns" style="text-align:center">
		<button id="learnerProfilesBtn" class="button" style="min-width:11rem; height: 11rem;">
			<div style="line-height:1.2rem; font-weight:bold; margin-bottom:2rem;">Learner Profiles</div>
			<i class="fa fa-users fa-4x"></i>
		</button>
	</div>
</div>